<!doctype html>

<html>

<head>

<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,300&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Golos+Text:wght@600&family=Lobster&family=Noto+Sans&family=Source+Sans+Pro:ital,wght@1,600&family=Tilt+Warp&display=swap" rel="stylesheet">

<title>Thank You Page</title>
<link rel="stylesheet" href="/thankyou.css">
</head>


<body>

  <section>
    <div class="container">
      <h1>THANK YOU</h1>
      <h2>Your are successfully logged In</h2>
    </div>
  </section>

  <footer>
    <p>&#169;copyright | <span>Navya </span>  |  2023</p>
  </footer>


<script src="/thankyou.js"></script>


</body>

</html>

